nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.button-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.dark-1{
    color:#181818
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
     font-weight: 600;
     font-size: 43px;
}
.banner-title{
    font-weight: 700;
    font-size: 83px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    width: 584px;
}
.banner-content{
    width: 585px;
}